@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    margin: 0px;
}

.display-background {
    min-height: 100vh;
    background-image: linear-gradient(to right, #f567e2, #f0c93e);
    width: 100%;
}

.no-dec {
    text-decoration: none;
    color: #000000;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    background-color: #ffffff;
    height: 10vh;
}

.unlistitems {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    list-style-type: none;
    padding-left: 170px;
}

.unlisticons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    list-style-type: none;
    padding-right: 25px;
}

.icons {
    height: 30.2px;
    width: 30.2px;
    align-self: center;
    margin-right: 20px;
}

.button-items {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 50px;
    font-family: Times New Roman;
    font-size: 20px;
}

.backgroundImage {
    background-image: url('https://res.cloudinary.com/dmp4z05gw/image/upload/v1721825904/img1_qvufey.jpg');
    background-size: cover;
    position: fixed;
    height: 82vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    width: 100%;
}

.background-red {
    background-color: #FF7171;
    width: 584.7px;
    height: 286.22px;
    padding: 14px 80px 14px 30px;
}

.lighten {
    background-color: rgba(255, 0.3, 0.4, 0.3);
}

.background-order {
    min-height: 100vh;
    background-image: linear-gradient(to right, #f567e2, #f0c93e);
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: none;
}

.food-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.food-item {
    width: 250px;
    height: 400px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    padding: 20px;
}

.image {
    width: 250px;
    height: 200px;
    border-top-right-radius: 40px;
}

.order-heading {
    color: #ffffff;
    font-family: Monospace;
    font-weight: 500;
}

.food-headings {
    color: #000000;
    font-family: Roboto;
}

.order-button {
    padding: 10px;
    width: 100px;
    background-color: #f5f5ed;
    border-radius: 25px;
    border: none;
}

.heading {
    color: #ffffff;
    font-family: Roboto;
    font-size: 49px;
    font-weight: 510;
}

.para {
    color: #ffffff;
    font-size: 25px;
    font-family: Roboto;
    font-weight: lighter;
}

@media screen and (max-width:1119px) {
    .navbar {
        width: 100%;
        height: 8vh;
    }

    .unlistitems {
        padding-left: 90px;
    }

    .unlisticons {
        padding-left: 10px;
    }

    .button-items {
        font-size: 21.04px;
        margin-right: 40px;
    }

    .background-red {
        width: 450.7px;
        height: 190.22px;
        padding: 10px 50px 10px 25px;
    }

    .icons {
        height: 28.2px;
        width: 28.2px;
        margin-right: 15px;
    }

    .heading {
        color: #ffffff;
        font-family: Roboto;
        font-size: 25px;
    }

    .para {
        color: #ffffff;
        font-size: 19px;
        font-family: Roboto;
        font-weight: lighter;
    }

    .lighten {
        background-color: rgba(260, 0.3, 0.3, 0.3);
    }
}

@media screen and (max-width:991px) {
    .navbar {
        width: 100%;
    }

    .unlistitems {
        padding-left: 60px;
    }

    .unlisticons {
        padding-left: 5px;
    }

    .button-items {
        font-size: 16.04px;
        margin-right: 30px;
    }

    .background-red {
        width: 424.7px;
        height: 170.22px;
        padding: 10px 60px 10px 15px;
    }

    .icons {
        height: 22.2px;
        width: 22.2px;
        margin-right: 15px;
    }

    .heading {
        color: #ffffff;
        font-family: Roboto;
        font-size: 25px;
        font-weight: lighter;
    }

    .para {
        color: #ffffff;
        font-size: 18px;
        font-family: Roboto;
    }

    .lighten {
        background-color: rgba(260, 0.3, 0.3, 0.3);
    }
}

@media screen and (max-width:767px) {
    .navbar {
        height: 12vh;
    }

    .unlistitems {
        padding-left: 30px;
    }

    .unlisticons {
        padding-left: 0px;
    }

    .button-items {
        font-size: 14.04px;
        margin-right: 10px;
    }

    .background-red {
        width: 364.7px;
        height: 150.22px;
        padding: 10px 55px 10px 15px;
    }

    .icons {
        height: 15.2px;
        width: 15.2px;
        margin-right: 7px;
    }

    .heading {
        color: #ffffff;
        font-family: Roboto;
        font-size: 25px;
        font-weight: lighter;
    }

    .para {
        color: #ffffff;
        font-size: 14px;
        font-family: Roboto;
    }

    .lighten {
        background-color: rgba(260, 0.3, 0.3, 0.3);
    }
}

@media screen and (max-width:575px) {
    .navbar {
        height: 9vh;
    }

    .background-red {
        width: 200.7px;
        height: 130.22px;
        padding: 5px 15px 5px 15px;
    }

    .unlistitems {
        padding-left: 12px;
    }

    .unlisticons {
        padding-left: 2px;
    }

    .heading {
        color: #ffffff;
        font-family: Roboto;
        font-size: 18px;
        font-weight: lighter;
    }

    .para {
        color: #ffffff;
        font-size: 11px;
        font-family: Roboto;
    }

    .icons {
        height: 7px;
        width: 7px;
        margin-right: 5px;
        margin-top: 3px;
    }

    .lighten {
        background-color: rgba(260, 0.3, 0.3, 0.3);
    }

    .button-items {
        font-size: 7px;
        margin-right: 0px;
    }
}